<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite-Advaita">
  <test thread-count="5" name="Test">
    <classes>
<!--      <class name="com.advaita.TestTable.TestNon_MeasurableTable"/>-->
<!--      <class name="com.advaita.TestEdit.TestProcessEdit"/>-->
<!--      <class name="com.advaita.TestTable.TestProcessTable"/>-->
<!--      <class name="com.advaita.TestTable.TestDataSetTable"/>-->
<!--      <class name="com.advaita.TestCreate.TestDataSetCreate"/>-->
<!--      <class name="com.advaita.TestCase.VerifyNonMeasurableSetPage"/>-->
<!--      <class name="com.advaita.TestEdit.TestNon_MeasurableSetEdit"/>-->
<!--      <class name="com.advaita.TestTable.TestMetaDataTable"/>-->
<!--      <class name="com.advaita.TestCreate.TestNon_MeasurableSetCreate"/>-->
<!--      <class name="com.advaita.TestEdit.TestMetaDataEdit"/>-->
<!--      <class name="com.advaita.TestEdit.TestDataSetEdit"/>-->
<!--      <class name="com.advaita.TestCase.VerifyDataSet"/>-->
<!--      <class name="com.advaita.TestCase.StageTest"/>-->
<!--      <class name="com.advaita.EndtoEnd.run.test.TEST_Advaita"/>-->
<!--      <class name="com.advaita.TestCase.VerifyDisposition"/>-->
<!--      <class name="com.advaita.TestCreate.TestMetaDataCreate"/>-->
<!--      <class name="com.advaita.TestCase.VerifyMetaData"/>-->
<!--      <class name="com.advaita.TestCreate.TestProcessCreate"/>-->
<!--      <class name="com.advaita.TestCase.VerifyMeasurableSet"/>-->
<!--      <class name="com.advaita.TestCase.VerifyStagesCreate"/>-->
<!--      <class name="com.advaita.TestCase.VerifyLoginPage"/>-->
<!--      <class name="com.advaita.TestCase.VerifyProcess"/>-->
<!--      <class name="com.advaita.TestCreate.TestStagesCreate"/>-->
<!--      <class name="com.advaita.TestCreate.TestMeasurableSetCreate"/>-->
      <class name="com.advaita.TestCreate.TestMasterFieldsSetCreate"/>
      <class name="com.advaita.TestCreate.TestMasterFormsCreate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

<!-- for comment ctlr+shift+c-->
